<%= form_for(@hint) do |f| %>
  <% if @hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hint.errors.count, "error") %> prohibited this hint from being saved:</h2>

      <ul>
      <% @hint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :riddle %><br>
    <%= f.text_area :riddle %>
  </div>
  <div class="field">
    <%= f.label :found %><br>
    <%= f.check_box :found %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :found_by %><br>
    <%= f.number_field :found_by %>
  </div>
  <div class="field">
    <%= f.label :next_hint %><br>
    <%= f.text_field :next_hint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
